body {
    background-color: rgb(2, 1, 19);
}

.weather-app-container {
    background-color: #176f7ebb;
    max-width: 500px;
    min-width: 400px;
    margin: 4em auto;
    box-shadow: inset  -0.5em -0.5em 2em rgba(194, 194, 240, 0.219);
    padding: 2.5em 3em;
    border-radius: 1.5em;
}

form {
    padding: 0.2em;
    display: flex;
    justify-content: center;
}

.location-search {
    background-color: #cceff585;
    border: none;
    width: 45%;
    height: 2em;
    padding-left: 1em;
    font-size: 1rem;
    border-radius: 14px;
    font-family: "Kantumruy Pro", sans-serif;
}

.location-search-button {
    background-color: rgba(0, 0, 0, 0.603);
    color: rgba(255, 255, 255, 0.712);
    border: none;
    width: 20%;
    height: 2em;
    margin-left: 0.2em;
    font-size: 1rem;
    border-radius: 14px;
    font-family: "Kantumruy Pro", sans-serif;
}

h1 {
    font-size: 3rem;
    color: #d793f1d7;
    text-align: end;
    animation-name: color-change;
    animation-duration: 5s;
}

@keyframes color-change {
    0% {color: #176f7e00;
    }
}

p {
    margin-top: -1em;
    font-size: 1.25rem;
    text-align: end;
    color: #11a0f39a;
    animation-name: color-change;
    animation-duration: 5s;
}

.location-temp-current-icon {
    display: flex;
    width: 45%;
    position: relative;
    top: -5em;
    color: #232830de;
}

.temp-value {
    font-size: 6rem;
    font-weight: 1000;
    position: relative;
    top: -0.25em;
    z-index: 1;
    animation-name: color-change;
    animation-duration: 5s;
}

.temp-measurement {
    font-size: 4rem;
    position: relative;
    top: -0.6em;
    animation-name: color-change;
    animation-duration: 5s;
}
.weather-icon {
    width: 12em ;
    z-index: 0;
    opacity: 0.8;
    animation-name: color-change;
    animation-duration: 5s;
    position: relative;
    left: -10em;
    top: -2em;
}

.location-weather-conditions-current  {
    margin-top: -10em;
    font-size: 1.25rem;
    text-align: end;
    color: #f0f8ff73;
}

.humidity, .wind-speed {
    color: rgb(238, 169, 238);
    animation-name: color-change;
    animation-duration: 5s;
}

footer {
    text-align: center;
    margin-top: 1em;
    font-size: 0.8rem;
    font-family: "Kantumruy Pro", sans-serif;
}

a {
    color: #880416b7;
}

a:hover {
    color: #bdade2ce;
}

a:visited {
    color: #72dcf7b7;
}

