body {
    background-color: #020113;
}

.weather-app-container {
    background-color: #39b3a283;
    max-width: 550px;
    min-width: 400px;
    margin: 4em auto;
    box-shadow: inset  -0.5em -0.5em 5em #9d13af38;
    padding: 2.5em 3em;
    border-radius: 1.5em;
}

form {
    padding: 0.2em;
    display: flex;
    justify-content: center;
}

.location-search {
    background-color: #cceff585;
    border: none;
    width: 45%;
    height: 2em;
    padding-left: 1em;
    font-size: 1rem;
    border-radius: 14px;
    font-family: "Kantumruy Pro", sans-serif;
}

.location-search-button {
    background-color: rgba(0, 0, 0, 0.603);
    color: rgba(255, 255, 255, 0.712);
    border: none;
    width: 20%;
    height: 2em;
    margin-left: 0.2em;
    font-size: 1rem;
    border-radius: 14px;
    font-family: "Kantumruy Pro", sans-serif;
}

h1 {
    font-size: 3.5rem;
    color: #d793f1d7;
    text-align: end;
    animation-name: color-change;
    animation-duration: 5s;
}

@keyframes color-change {
    0% {color: #176f7e00;
    }
}

.current-day {
    margin-top: -1em;
    font-size: 1.25rem;
    text-align: end;
    color: #eaf1f5c4;
    animation-name: color-change;
    animation-duration: 5s;
}

.location-temp-current-icon {
    display: flex;
    width: 45%;
    position: relative;
    top: -4em;
    left: 1.25em;
    color: #c6d5ecde;
}

.temp-value {
    font-size: 6rem;
    font-weight: 1000;
    position: relative;
    top: -0.25em;
    z-index: 1;
    animation-name: color-change;
    animation-duration: 5s;
}

.temp-measurement {
    font-size: 4rem;
    position: relative;
    top: -0.6em;
    animation-name: color-change;
    animation-duration: 5s;
}
.weather-icon {
    width: 5.5em ;
    z-index: 0;
    opacity: 0.8;
    animation-name: color-change;
    animation-duration: 5s;
    position: relative;
    right: 4.5em;
    top: 1em;
}

.location-weather-conditions-current  {
    margin-top: -6em;
    font-size: 1.25rem;
    text-align: end;
    color: #f0f8ff73;
}

.humidity, .wind-speed {
    color: rgb(238, 169, 238);
    animation-name: color-change;
    animation-duration: 5s;
}

.weather-forecast {
    margin: 1.5em 0 0 0;
    display: flex;
    justify-content: space-around;
}

.forecast-1 {
 justify-content: center;
}

.day-1 {
    text-align: center;
    color: #b1e2eb77;
    font-size: 1.1rem;
}

.day-1-icon {
    height: 3.5em;
    display: block;
    margin: auto;
}

.max-min-temp {
    text-align: center;
    color: #b1e2eb77;
    font-size: 1.1rem;
}

footer {
    
    text-align: center;
    font-size: 0.8rem;
    font-family: "Kantumruy Pro", sans-serif;
}

a {
    color: #880416b7;
}

a:hover {
    color: #bdade2ce;
}

a:visited {
    color: #72dcf7b7;
}

